In [25]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [27]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Crimes_-_2001_to_Present.csv')
print(dfCrime.shape)
dfCrime.head()

(8285876, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,13311263,JG503434,07/29/2022 03:39:00 AM,023XX S TROY ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,True,False,...,25.0,30.0,17,NaN,NaN,2022,04/18/2024 03:40:59 PM,NaN,NaN,NaN
1,13053066,JG103252,01/03/2023 04:44:00 PM,039XX W WASHINGTON BLVD,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,SIDEWALK,True,False,...,28.0,26.0,18,NaN,NaN,2023,01/20/2024 03:41:12 PM,NaN,NaN,NaN
2,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,13203321,JG415333,09/06/2023 05:00:00 PM,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,42.0,32.0,14,1174694.0,1901831.0,2023,11/04/2023 03:40:18 PM,41.886018,-87.633938,"(41.886018055, -87.633937881)"
4,13204489,JG416325,09/06/2023 11:00:00 AM,0000X E 8TH ST,0810,THEFT,OVER $500,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,4.0,32.0,06,1176857.0,1896680.0,2023,11/04/2023 03:40:18 PM,41.871835,-87.626151,"(41.871834768, -87.62615082)"

In [28]:
dfCrime.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [29]:
dfCrime = dfCrime[dfCrime['Year'] == 2021]
dfCrime = dfCrime[(dfCrime['Latitude'].isna() == False) & (dfCrime['Longitude'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(202873, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
6,12419690,JE295655,07/07/2021 10:30:00 AM,132XX S GREENWOOD AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,False,False,...,10.0,54.0,17,1186051.0,1817781.0,2021,01/19/2024 03:40:50 PM,41.655116,-87.594883,"(41.65511579, -87.594883198)"
20,12342615,JE202211,04/17/2021 03:20:00 PM,081XX S PRAIRIE AVE,0325,ROBBERY,VEHICULAR HIJACKING,RESIDENCE,True,False,...,6.0,44.0,03,1179448.0,1851073.0,2021,09/14/2023 03:41:59 PM,41.746626,-87.618032,"(41.746626309, -87.618031954)"
84,26262,JE366265,09/08/2021 04:45:00 PM,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,24.0,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)"
849,12298539,JE148775,02/22/2021 01:36:00 PM,015XX S DRAKE AVE,031A,ROBBERY,ARMED - HANDGUN,SIDEWALK,False,False,...,24.0,29.0,03,1152955.0,1892266.0,2021,04/18/2024 03:40:20 PM,41.860229,-87.714022,"(41.860229103, -87.71402184)"
851,12346572,JE206964,04/22/2021 02:30:00 PM,016XX W 59TH ST,1140,DECEPTIVE PRACTICE,EMBEZZLEMENT,COMMERCIAL / BUSINESS OFFICE,True,False,...,16.0,67.0,12,1166240.0,1865581.0,2021,04/18/2024 03:40:20 PM,41.786729,-87.666017,"(41.786729308, -87.666016839)"

In [30]:
violentCrimeCodes = ['17', '03', '01A', '02', '04A', '01B']
dfCrime = dfCrime[dfCrime['FBI Code'].isin(violentCrimeCodes)]
print(dfCrime.shape)
dfCrime.head()

(18909, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
6,12419690,JE295655,07/07/2021 10:30:00 AM,132XX S GREENWOOD AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,False,False,...,10.0,54.0,17,1186051.0,1817781.0,2021,01/19/2024 03:40:50 PM,41.655116,-87.594883,"(41.65511579, -87.594883198)"
20,12342615,JE202211,04/17/2021 03:20:00 PM,081XX S PRAIRIE AVE,0325,ROBBERY,VEHICULAR HIJACKING,RESIDENCE,True,False,...,6.0,44.0,03,1179448.0,1851073.0,2021,09/14/2023 03:41:59 PM,41.746626,-87.618032,"(41.746626309, -87.618031954)"
84,26262,JE366265,09/08/2021 04:45:00 PM,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,24.0,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)"
849,12298539,JE148775,02/22/2021 01:36:00 PM,015XX S DRAKE AVE,031A,ROBBERY,ARMED - HANDGUN,SIDEWALK,False,False,...,24.0,29.0,03,1152955.0,1892266.0,2021,04/18/2024 03:40:20 PM,41.860229,-87.714022,"(41.860229103, -87.71402184)"
3323,12485195,JE375807,09/01/2021 09:00:00 AM,022XX S KEDZIE AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,24.0,30.0,17,1155375.0,1888926.0,2021,12/23/2024 03:41:07 PM,41.851016,-87.705228,"(41.851015522, -87.705228282)"

In [31]:
dfCrime = dfCrime[['FBI Code', 'Latitude', 'Longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['FBI Code', 'geometry']]
dfCrime.head()

     FBI Code                                 geometry
6          17   POINT (-87.59488319800001 41.65511579)
20         03       POINT (-87.618031954 41.746626309)
84        01A  POINT (-87.74344656300001 41.873191445)
849        03        POINT (-87.71402184 41.860229103)
3323       17  POINT (-87.70522828199999 41.851015522)

In [37]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("cb_2022_us_bg_500k/cb_2022_us_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(242297, 12)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,04,019,940800,2,1500000US040199408002,040199408002,2,Block Group 2,BG,2033911373,68536,"POLYGON ((-112.41 31.857, -112.38 31.859, -112..."
1,04,003,000901,4,1500000US040030009014,040030009014,4,Block Group 4,BG,486316,0,"POLYGON ((-109.55 31.334, -109.55 31.339, -109..."
2,06,073,018102,3,1500000US060730181023,060730181023,3,Block Group 3,BG,324091,3579,"POLYGON ((-117.37 33.182, -117.37 33.182, -117..."
3,06,073,007200,3,1500000US060730072003,060730072003,3,Block Group 3,BG,720442,709604,"POLYGON ((-117.26 32.725, -117.26 32.726, -117..."
4,06,073,017702,3,1500000US060730177023,060730177023,3,Block Group 3,BG,317237,0,"POLYGON ((-117.3 33.052, -117.3 33.053, -117.3..."

In [39]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

     FBI Code                geometry
6          17  POINT (-87.595 41.655)
20         03  POINT (-87.618 41.747)
84        01A  POINT (-87.743 41.873)
849        03   POINT (-87.714 41.86)
3323       17  POINT (-87.705 41.851)

In [41]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(18909, 14)

,FBI Code,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER
6,17,POINT (-87.595 41.655),160460.0,17,031,540101,1,1500000US170315401011,170315401011,1,Block Group 1,BG,2831943.0,508399.0
20,03,POINT (-87.618 41.747),61382.0,17,031,440300,2,1500000US170314403002,170314403002,2,Block Group 2,BG,433247.0,0.0
84,01A,POINT (-87.743 41.873),194628.0,17,031,252202,3,1500000US170312522023,170312522023,3,Block Group 3,BG,190165.0,0.0
849,03,POINT (-87.714 41.86),189000.0,17,031,291200,2,1500000US170312912002,170312912002,2,Block Group 2,BG,164526.0,0.0
3323,17,POINT (-87.705 41.851),30779.0,17,031,300900,2,1500000US170313009002,170313009002,2,Block Group 2,BG,164099.0,0.0

In [45]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US170318391001    132
1500000US170318424001     71
1500000US170310814011     67
1500000US170312605001     65
1500000US170318314001     61
                        ...
1500000US170311006002      1
1500000US170318227012      1
1500000US170315610003      1
1500000US170310309001      1
1500000US170318399005      1
Name: count, Length: 2064, dtype: int64

In [49]:
# export as a csv
crime.to_csv('Chicago_Violent_Crime_BG.csv')