In [419]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

import warnings
warnings.filterwarnings("ignore")

In [347]:
dfWalk = pd.read_csv('EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv')
dfWalk.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [349]:
dfWalk.loc[:, ['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE']] = dfWalk.loc[:, ['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE']].astype('str')

In [351]:
for i in range(len(dfWalk)):
    dfWalk.loc[i, 'STATEFP'] = dfWalk.loc[i, 'STATEFP'].zfill(2)
    dfWalk.loc[i, 'COUNTYFP'] = dfWalk.loc[i, 'COUNTYFP'].zfill(3)
    dfWalk.loc[i, 'TRACTCE'] = dfWalk.loc[i, 'TRACTCE'].zfill(6)
    
dfWalk.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,007825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,007825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,007825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,007824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,007824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [352]:
dfWalk['realGEOID'] = '1500000US' + dfWalk['STATEFP'] + dfWalk['COUNTYFP'] + dfWalk['TRACTCE'] + dfWalk['BLKGRPCE']
dfWalk.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,realGEOID
0,1,4.811300e+11,4.811300e+11,48,113,007825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831,1500000US481130078254
1,2,4.811300e+11,4.811300e+11,48,113,007825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466,1500000US481130078252
2,3,4.811300e+11,4.811300e+11,48,113,007825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281,1500000US481130078253
3,4,4.811300e+11,4.811300e+11,48,113,007824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303,1500000US481130078241
4,5,4.811300e+11,4.811300e+11,48,113,007824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752,1500000US481130078242

In [355]:
imptCols = ['realGEOID', 'NatWalkInd', 'STATEFP', 'TotPop', 'CountHU', 'P_WrkAge', 'Pct_AO0',
            'Pct_AO2p', 'R_LowWageWk', 'R_HiWageWk', 'R_PCTLOWWAGE', 'TotEmp', 'D1D', 'D2A_JPHH', 'D4E', 'D5AR', 'D5BR', 'D5CRI']
dfWalk = dfWalk.loc[:, imptCols]
dfWalk = dfWalk.rename({'NatWalkInd':'Walk_Index',
                        'STATEFP':'state',
                        'CountHU':'count_housing_units',
                        'P_WrkAge':'percentage_work_age',
                        'Pct_AO0':'percent_no_car',
                        'Pct_AO2p':'percent_two_car',
                        'R_LowWageWk':'count_low_wage_workers',
                        'R_HiWageWk':'count_high_wage_workers',
                        'R_PCTLOWWAGE':'percent_low_wage_workers',
                        'D1D':'employent_housing_density',
                        'D2A_JPHH':'jobs_per_household',
                        'D4E':'transit_frequency',
                        'D5AR':'jobs_within_45_minutes_auto',
                        'D5BR':'jobs_within_45_minutes_transit',
                        'D5CRI':'regional_centrality'}, axis = 1)
dfWalk.head()

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,TotEmp,employent_housing_density,jobs_per_household,transit_frequency,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality
0,1500000US481130078254,14.000000,48,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,66,7.147222,0.156028,0.003602,433601,135362,0.785893
1,1500000US481130078252,10.833333,48,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,25,3.640506,0.061125,0.006099,386504,236885,0.700531
2,1500000US481130078253,8.333333,48,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,0,13.843035,0.000000,0.004071,404573,230587,0.733281
3,1500000US481130078241,15.666667,48,904,384.0,0.638,0.000000,0.888021,60,302,0.139211,253,5.350213,0.658854,0.007378,423099,168433,0.766859
4,1500000US481130078242,10.166667,48,948,343.0,0.506,0.014577,0.790087,91,404,0.157168,32,2.521128,0.093294,0.007036,335700,120826,0.608450

In [357]:
# change numbers to Abbreviations
dfWalk.loc[dfWalk['state'] == '01', 'state'] = 'AL' 
dfWalk.loc[dfWalk['state'] == '02', 'state'] = 'AK'
dfWalk.loc[dfWalk['state'] == '04', 'state'] = 'AZ'
dfWalk.loc[dfWalk['state'] == '05', 'state'] = 'AR'
dfWalk.loc[dfWalk['state'] == '06', 'state'] = 'CA'
dfWalk.loc[dfWalk['state'] == '08', 'state'] = 'CO'
dfWalk.loc[dfWalk['state'] == '09', 'state'] = 'CT'
dfWalk.loc[dfWalk['state'] == '10', 'state'] = 'DE'
dfWalk.loc[dfWalk['state'] == '11', 'state'] = 'DC'
dfWalk.loc[dfWalk['state'] == '12', 'state'] = 'FL'
dfWalk.loc[dfWalk['state'] == '13', 'state'] = 'DE'
dfWalk.loc[dfWalk['state'] == '15', 'state'] = 'HI'
dfWalk.loc[dfWalk['state'] == '16', 'state'] = 'ID'
dfWalk.loc[dfWalk['state'] == '17', 'state'] = 'IL'
dfWalk.loc[dfWalk['state'] == '18', 'state'] = 'IN'
dfWalk.loc[dfWalk['state'] == '19', 'state'] = 'IA'
dfWalk.loc[dfWalk['state'] == '20', 'state'] = 'KS'
dfWalk.loc[dfWalk['state'] == '21', 'state'] = 'KY'
dfWalk.loc[dfWalk['state'] == '22', 'state'] = 'LA'
dfWalk.loc[dfWalk['state'] == '23', 'state'] = 'ME'
dfWalk.loc[dfWalk['state'] == '24', 'state'] = 'MD'
dfWalk.loc[dfWalk['state'] == '25', 'state'] = 'MA'
dfWalk.loc[dfWalk['state'] == '26', 'state'] = 'MI'
dfWalk.loc[dfWalk['state'] == '27', 'state'] = 'MN'
dfWalk.loc[dfWalk['state'] == '28', 'state'] = 'MS'
dfWalk.loc[dfWalk['state'] == '29', 'state'] = 'MO'
dfWalk.loc[dfWalk['state'] == '30', 'state'] = 'MT'
dfWalk.loc[dfWalk['state'] == '31', 'state'] = 'NE'
dfWalk.loc[dfWalk['state'] == '32', 'state'] = 'NV'
dfWalk.loc[dfWalk['state'] == '33', 'state'] = 'NH'
dfWalk.loc[dfWalk['state'] == '34', 'state'] = 'NJ'
dfWalk.loc[dfWalk['state'] == '35', 'state'] = 'NM'
dfWalk.loc[dfWalk['state'] == '36', 'state'] = 'NY'
dfWalk.loc[dfWalk['state'] == '37', 'state'] = 'NC'
dfWalk.loc[dfWalk['state'] == '38', 'state'] = 'ND'
dfWalk.loc[dfWalk['state'] == '39', 'state'] = 'OH'
dfWalk.loc[dfWalk['state'] == '40', 'state'] = 'OK'
dfWalk.loc[dfWalk['state'] == '41', 'state'] = 'OR'
dfWalk.loc[dfWalk['state'] == '42', 'state'] = 'PA'
dfWalk.loc[dfWalk['state'] == '44', 'state'] = 'RI'
dfWalk.loc[dfWalk['state'] == '45', 'state'] = 'SC'
dfWalk.loc[dfWalk['state'] == '46', 'state'] = 'SD'
dfWalk.loc[dfWalk['state'] == '47', 'state'] = 'TN'
dfWalk.loc[dfWalk['state'] == '48', 'state'] = 'TX'
dfWalk.loc[dfWalk['state'] == '49', 'state'] = 'UT'
dfWalk.loc[dfWalk['state'] == '50', 'state'] = 'VT'
dfWalk.loc[dfWalk['state'] == '51', 'state'] = 'VA'
dfWalk.loc[dfWalk['state'] == '53', 'state'] = 'WA'
dfWalk.loc[dfWalk['state'] == '54', 'state'] = 'WV'
dfWalk.loc[dfWalk['state'] == '55', 'state'] = 'WI'
dfWalk.loc[dfWalk['state'] == '56', 'state'] = 'WY'
dfWalk.head()

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,TotEmp,employent_housing_density,jobs_per_household,transit_frequency,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,66,7.147222,0.156028,0.003602,433601,135362,0.785893
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,25,3.640506,0.061125,0.006099,386504,236885,0.700531
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,0,13.843035,0.000000,0.004071,404573,230587,0.733281
3,1500000US481130078241,15.666667,TX,904,384.0,0.638,0.000000,0.888021,60,302,0.139211,253,5.350213,0.658854,0.007378,423099,168433,0.766859
4,1500000US481130078242,10.166667,TX,948,343.0,0.506,0.014577,0.790087,91,404,0.157168,32,2.521128,0.093294,0.007036,335700,120826,0.608450

In [359]:
temp = pd.read_csv('Median_Rent/Median_Rent.csv', header = 1)
temp = temp.rename({'Estimate!!Median contract rent': 'Median_Contract_Rent'}, axis = 1)
temp = temp[['Geography', 'Median_Contract_Rent']]
temp = temp[temp['Median_Contract_Rent'] != '-']
temp.head()

               Geography Median_Contract_Rent
0  1500000US010010201001                  579
1  1500000US010010201002                  482
2  1500000US010010202001                 1297
3  1500000US010010202002                  679
4  1500000US010010203001                  707

In [361]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(131048, 19)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,TotEmp,employent_housing_density,jobs_per_household,transit_frequency,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality,Median_Contract_Rent
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,66,7.147222,0.156028,0.003602,433601,135362,0.785893,942
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,25,3.640506,0.061125,0.006099,386504,236885,0.700531,770
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,0,13.843035,0.000000,0.004071,404573,230587,0.733281,806
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,0.244027,3,11.028441,0.006036,0.002246,402287,138562,0.729137,1075
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,0.243243,1,2.252783,0.002717,0.002596,263813,8873,0.478156,917

In [363]:
temp = pd.read_csv('Avg_Household_Size/Avg_Household_Size.csv', header = 1)
temp = temp.rename({'Estimate!!Average household size --!!Total:!!Renter occupied': 'avg_HH_size_renters'}, axis = 1)
temp = temp[['Geography', 'avg_HH_size_renters']]
temp = temp[temp['avg_HH_size_renters'] != '-']
temp.head()

               Geography avg_HH_size_renters
0  1500000US010010201001                2.06
1  1500000US010010201002                2.05
2  1500000US010010202001                2.55
3  1500000US010010202002                3.37
4  1500000US010010203001                2.21

In [365]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130349, 20)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,TotEmp,employent_housing_density,jobs_per_household,transit_frequency,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality,Median_Contract_Rent,avg_HH_size_renters
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,66,7.147222,0.156028,0.003602,433601,135362,0.785893,942,2.42
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,25,3.640506,0.061125,0.006099,386504,236885,0.700531,770,1.72
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,0,13.843035,0.000000,0.004071,404573,230587,0.733281,806,2.23
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,0.244027,3,11.028441,0.006036,0.002246,402287,138562,0.729137,1075,2.27
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,0.243243,1,2.252783,0.002717,0.002596,263813,8873,0.478156,917,4.10

In [367]:
temp = pd.read_csv('GINI_Index_2013/GINI_Index_2013.csv', header = 1)
temp = temp.rename({'Estimate!!Gini Index': 'GINI_Index'}, axis = 1)
temp = temp[['Geography', 'GINI_Index']]
temp = temp[temp['GINI_Index'] != '-']
temp.head()

               Geography GINI_Index
0  1500000US010010201001     0.3386
1  1500000US010010201002     0.4121
2  1500000US010010202001     0.4151
3  1500000US010010202002     0.3972
4  1500000US010010203001     0.3981

In [369]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130237, 21)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,TotEmp,employent_housing_density,jobs_per_household,transit_frequency,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality,Median_Contract_Rent,avg_HH_size_renters,GINI_Index
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,66,7.147222,0.156028,0.003602,433601,135362,0.785893,942,2.42,0.5129
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,25,3.640506,0.061125,0.006099,386504,236885,0.700531,770,1.72,0.3731
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,0,13.843035,0.000000,0.004071,404573,230587,0.733281,806,2.23,0.2593
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,3,11.028441,0.006036,0.002246,402287,138562,0.729137,1075,2.27,0.4482
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,1,2.252783,0.002717,0.002596,263813,8873,0.478156,917,4.10,0.3393

In [371]:
temp = pd.read_csv('Household_Heating/Household_Heating.csv', header = 1)
temp['percent_gas_energy'] = temp['Estimate!!Total:!!Utility gas'] / temp['Estimate!!Total:']
temp['percent_electric_energy'] = temp['Estimate!!Total:!!Electricity'] / temp['Estimate!!Total:']
temp['percent_solar_energy'] = temp['Estimate!!Total:!!Solar energy'] / temp['Estimate!!Total:']
temp['percent_no_heating'] = temp['Estimate!!Total:!!No fuel used'] / temp['Estimate!!Total:']
temp = temp[['Geography', 'percent_gas_energy', 'percent_electric_energy', 'percent_solar_energy', 'percent_no_heating']]
temp.head()

,Geography,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating
0,1500000US010010201001,0.337302,0.603175,0.0,0.000000
1,1500000US010010201002,0.492997,0.473389,0.0,0.000000
2,1500000US010010202001,0.305147,0.694853,0.0,0.000000
3,1500000US010010202002,0.716463,0.262195,0.0,0.000000
4,1500000US010010203001,0.646251,0.281943,0.0,0.002112

In [373]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130237, 25)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,jobs_within_45_minutes_auto,jobs_within_45_minutes_transit,regional_centrality,Median_Contract_Rent,avg_HH_size_renters,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,433601,135362,0.785893,942,2.42,0.5129,0.485330,0.514670,0.0,0.0
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,386504,236885,0.700531,770,1.72,0.3731,0.073770,0.840164,0.0,0.0
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,404573,230587,0.733281,806,2.23,0.2593,0.191686,0.808314,0.0,0.0
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,402287,138562,0.729137,1075,2.27,0.4482,0.000000,1.000000,0.0,0.0
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,263813,8873,0.478156,917,4.10,0.3393,0.862360,0.028090,0.0,0.0

In [375]:
temp = pd.read_csv('Internet_Access/Internet_Access.csv', header = 1)
temp['percent_no_internet'] = temp['Estimate!!Total:!!No Internet access'] / temp['Estimate!!Total:']
temp = temp[['Geography', 'percent_no_internet']]
temp.head()

               Geography  percent_no_internet
0  1500000US010010201001             0.206349
1  1500000US010010201002             0.100840
2  1500000US010010202001             0.136029
3  1500000US010010202002             0.234756
4  1500000US010010203001             0.089757

In [377]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130237, 26)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,jobs_within_45_minutes_transit,regional_centrality,Median_Contract_Rent,avg_HH_size_renters,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,135362,0.785893,942,2.42,0.5129,0.485330,0.514670,0.0,0.0,0.095355
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,236885,0.700531,770,1.72,0.3731,0.073770,0.840164,0.0,0.0,0.114754
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,230587,0.733281,806,2.23,0.2593,0.191686,0.808314,0.0,0.0,0.189376
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,138562,0.729137,1075,2.27,0.4482,0.000000,1.000000,0.0,0.0,0.098501
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,8873,0.478156,917,4.10,0.3393,0.862360,0.028090,0.0,0.0,0.078652

In [379]:
temp = pd.read_csv('Kitchen_Tenure/Kitchen_Tenure.csv', header = 1)
temp['percent_lacking_kitchen_renter'] = temp['Estimate!!Total:!!Renter occupied:!!Lacking complete kitchen facilities'] / temp['Estimate!!Total:!!Renter occupied:']
temp = temp[['Geography', 'percent_lacking_kitchen_renter']]
temp.head()

               Geography  percent_lacking_kitchen_renter
0  1500000US010010201001                             0.0
1  1500000US010010201002                             0.0
2  1500000US010010202001                             0.0
3  1500000US010010202002                             0.0
4  1500000US010010203001                             0.0

In [381]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130237, 27)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,regional_centrality,Median_Contract_Rent,avg_HH_size_renters,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,0.785893,942,2.42,0.5129,0.485330,0.514670,0.0,0.0,0.095355,0.0
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,0.700531,770,1.72,0.3731,0.073770,0.840164,0.0,0.0,0.114754,0.0
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,0.733281,806,2.23,0.2593,0.191686,0.808314,0.0,0.0,0.189376,0.0
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,0.729137,1075,2.27,0.4482,0.000000,1.000000,0.0,0.0,0.098501,0.0
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,0.478156,917,4.10,0.3393,0.862360,0.028090,0.0,0.0,0.078652,0.0

In [383]:
temp = pd.read_csv('Living_Arrangements/Living_Arrangements.csv', header = 1)
temp['percent_lives_alone'] = temp['Estimate!!Total:!!Lives alone'] / temp['Estimate!!Total:']
temp = temp[['Geography', 'percent_lives_alone']]
temp.head()

               Geography  percent_lives_alone
0  1500000US010010201001             0.132404
1  1500000US010010201002             0.051345
2  1500000US010010202001             0.097360
3  1500000US010010202002             0.114086
4  1500000US010010203001             0.074187

In [385]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(130237, 28)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,Median_Contract_Rent,avg_HH_size_renters,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter,percent_lives_alone
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,942,2.42,0.5129,0.485330,0.514670,0.0,0.0,0.095355,0.0,0.238619
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,770,1.72,0.3731,0.073770,0.840164,0.0,0.0,0.114754,0.0,0.422280
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,806,2.23,0.2593,0.191686,0.808314,0.0,0.0,0.189376,0.0,0.295714
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,1075,2.27,0.4482,0.000000,1.000000,0.0,0.0,0.098501,0.0,0.328788
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,917,4.10,0.3393,0.862360,0.028090,0.0,0.0,0.078652,0.0,0.008937

In [387]:
temp = pd.read_csv('Median_Household_Income/Median_Household_Income.csv', header = 1)
temp = temp.rename({'Estimate!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars)': 'Median_Household_Income'}, axis = 1)
temp = temp[['Geography', 'Median_Household_Income']]
temp = temp[temp['Median_Household_Income'] != '-']
temp.head()

               Geography Median_Household_Income
0  1500000US010010201001                   41607
1  1500000US010010201002                   66313
2  1500000US010010202001                   42288
3  1500000US010010202002                   52609
4  1500000US010010203001                   75074

In [389]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(124477, 29)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,avg_HH_size_renters,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter,percent_lives_alone,Median_Household_Income
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,2.42,0.5129,0.485330,0.514670,0.0,0.0,0.095355,0.0,0.238619,40714
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,1.72,0.3731,0.073770,0.840164,0.0,0.0,0.114754,0.0,0.422280,67714
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,2.23,0.2593,0.191686,0.808314,0.0,0.0,0.189376,0.0,0.295714,49741
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,2.27,0.4482,0.000000,1.000000,0.0,0.0,0.098501,0.0,0.328788,36135
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,4.10,0.3393,0.862360,0.028090,0.0,0.0,0.078652,0.0,0.008937,59781

In [391]:
temp = pd.read_csv('Median_Rooms/Median_Rooms.csv', header = 1)
temp = temp.rename({'Estimate!!Median number of rooms --!!Total:!!Renter occupied': 'Median_Num_Rooms'}, axis = 1)
temp = temp[['Geography', 'Median_Num_Rooms']]
temp = temp[temp['Median_Num_Rooms'] != '-']
temp.head()

               Geography Median_Num_Rooms
0  1500000US010010201001              4.3
1  1500000US010010201002              4.2
2  1500000US010010202001              5.1
3  1500000US010010202002              5.4
4  1500000US010010203001              6.1

In [393]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(124058, 30)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,GINI_Index,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter,percent_lives_alone,Median_Household_Income,Median_Num_Rooms
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,0.5129,0.485330,0.514670,0.0,0.0,0.095355,0.0,0.238619,40714,4.9
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,0.3731,0.073770,0.840164,0.0,0.0,0.114754,0.0,0.422280,67714,2.9
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,0.2593,0.191686,0.808314,0.0,0.0,0.189376,0.0,0.295714,49741,4.1
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,0.4482,0.000000,1.000000,0.0,0.0,0.098501,0.0,0.328788,36135,4.1
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,0.3393,0.862360,0.028090,0.0,0.0,0.078652,0.0,0.008937,59781,5.8

In [395]:
temp = pd.read_csv('Median_Structure_Tenure/Median_Structure_Tenure.csv', header = 1)
temp = temp.rename({'Estimate!!Median year structure built --!!Renter occupied': 'Median_Year_Structure_Built'}, axis = 1)
temp = temp[['Geography', 'Median_Year_Structure_Built']]
temp = temp[temp['Median_Year_Structure_Built'] != '-']
temp.head()

               Geography Median_Year_Structure_Built
0  1500000US010010201001                        1965
1  1500000US010010201002                        1959
2  1500000US010010202001                        1993
3  1500000US010010202002                        1968
4  1500000US010010203001                        1975

In [397]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(123067, 31)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,percent_gas_energy,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter,percent_lives_alone,Median_Household_Income,Median_Num_Rooms,Median_Year_Structure_Built
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,0.485330,0.514670,0.0,0.0,0.095355,0.0,0.238619,40714,4.9,1977
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,0.073770,0.840164,0.0,0.0,0.114754,0.0,0.422280,67714,2.9,1977
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,0.191686,0.808314,0.0,0.0,0.189376,0.0,0.295714,49741,4.1,1982
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,0.000000,1.000000,0.0,0.0,0.098501,0.0,0.328788,36135,4.1,1985
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,0.862360,0.028090,0.0,0.0,0.078652,0.0,0.008937,59781,5.8,1955

In [399]:
temp = pd.read_csv('Plumbing_Facilities_Tenure/Plumbing_Facilities_Tenure.csv', header = 1)
temp['percent_lacking_plumbing_renter'] = temp['Estimate!!Total:!!Renter occupied:!!Lacking plumbing facilities'] / temp['Estimate!!Total:!!Renter occupied:']
temp = temp[['Geography', 'percent_lacking_plumbing_renter']]
temp.head()

               Geography  percent_lacking_plumbing_renter
0  1500000US010010201001                              0.0
1  1500000US010010201002                              0.0
2  1500000US010010202001                              0.0
3  1500000US010010202002                              0.0
4  1500000US010010203001                              0.0

In [401]:
dfWalk = dfWalk.merge(temp, how = 'inner', left_on = 'realGEOID', right_on = 'Geography')
dfWalk = dfWalk.drop('Geography', axis = 1)
print(dfWalk.shape)
dfWalk.head()

(123067, 32)

,realGEOID,Walk_Index,state,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,...,percent_electric_energy,percent_solar_energy,percent_no_heating,percent_no_internet,percent_lacking_kitchen_renter,percent_lives_alone,Median_Household_Income,Median_Num_Rooms,Median_Year_Structure_Built,percent_lacking_plumbing_renter
0,1500000US481130078254,14.000000,TX,1202,460.0,0.549,0.163121,0.744681,99,191,...,0.514670,0.0,0.0,0.095355,0.0,0.238619,40714,4.9,1977,0.0
1,1500000US481130078252,10.833333,TX,710,409.0,0.466,0.000000,0.589242,76,212,...,0.840164,0.0,0.0,0.114754,0.0,0.422280,67714,2.9,1977,0.0
2,1500000US481130078253,8.333333,TX,737,365.0,0.811,0.057751,0.507599,136,138,...,0.808314,0.0,0.0,0.189376,0.0,0.295714,49741,4.1,1982,0.0
3,1500000US481130078271,6.833333,TX,1336,556.0,0.588,0.066398,0.227364,143,206,...,1.000000,0.0,0.0,0.098501,0.0,0.328788,36135,4.1,1985,0.0
4,1500000US481130093012,8.000000,TX,1541,451.0,0.644,0.029891,0.915761,117,137,...,0.028090,0.0,0.0,0.078652,0.0,0.008937,59781,5.8,1955,0.0

In [403]:
stateDummies = pd.get_dummies(dfWalk.loc[:, 'state'] , drop_first = True, dtype = 'int')
dfWalk = pd.concat([dfWalk, stateDummies], axis = 1)
dfWalk = dfWalk.drop('state', axis = 1)
dfWalk.head()

,realGEOID,Walk_Index,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1500000US481130078254,14.000000,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,...,0,0,1,0,0,0,0,0,0,0
1,1500000US481130078252,10.833333,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,...,0,0,1,0,0,0,0,0,0,0
2,1500000US481130078253,8.333333,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,...,0,0,1,0,0,0,0,0,0,0
3,1500000US481130078271,6.833333,1336,556.0,0.588,0.066398,0.227364,143,206,0.244027,...,0,0,1,0,0,0,0,0,0,0
4,1500000US481130093012,8.000000,1541,451.0,0.644,0.029891,0.915761,117,137,0.243243,...,0,0,1,0,0,0,0,0,0,0

In [405]:
dfWalk = dfWalk[dfWalk['Median_Household_Income'] != '250,000+']
dfWalk = dfWalk[dfWalk['Median_Household_Income'] != '2,500-']
dfWalk = dfWalk[dfWalk['Median_Contract_Rent'] != '3,500+']
dfWalk = dfWalk[dfWalk['Median_Contract_Rent'] != '100-']
dfWalk['log_Median_Household_Income'] = np.log(dfWalk['Median_Household_Income'].astype('int'))
dfWalk['log_Median_Contract_Rent'] = np.log(dfWalk['Median_Contract_Rent'].astype('int'))
dfWalk = dfWalk.drop(['realGEOID', 'Median_Household_Income', 'Median_Contract_Rent'], axis = 1)
dfWalk.head()

,Walk_Index,TotPop,count_housing_units,percentage_work_age,percent_no_car,percent_two_car,count_low_wage_workers,count_high_wage_workers,percent_low_wage_workers,TotEmp,...,TX,UT,VA,VT,WA,WI,WV,WY,log_Median_Household_Income,log_Median_Contract_Rent
0,14.000000,1202,460.0,0.549,0.163121,0.744681,99,191,0.240291,66,...,1,0,0,0,0,0,0,0,10.614327,6.848005
1,10.833333,710,409.0,0.466,0.000000,0.589242,76,212,0.192405,25,...,1,0,0,0,0,0,0,0,11.123048,6.646391
2,8.333333,737,365.0,0.811,0.057751,0.507599,136,138,0.293737,0,...,1,0,0,0,0,0,0,0,10.814585,6.692084
3,6.833333,1336,556.0,0.588,0.066398,0.227364,143,206,0.244027,3,...,1,0,0,0,0,0,0,0,10.495017,6.980076
4,8.000000,1541,451.0,0.644,0.029891,0.915761,117,137,0.243243,1,...,1,0,0,0,0,0,0,0,10.998443,6.821107

In [407]:
dfWalk['avg_HH_size_renters'] = dfWalk['avg_HH_size_renters'].astype('float')
dfWalk['GINI_Index'] = dfWalk['GINI_Index'].astype('float')
dfWalk = dfWalk[dfWalk['Median_Num_Rooms'] != '9.0+']
dfWalk['Median_Num_Rooms'] = dfWalk['Median_Num_Rooms'].astype('float')
dfWalk = dfWalk[dfWalk['Median_Year_Structure_Built'] != '1939-']
dfWalk.loc[dfWalk['Median_Year_Structure_Built'] == '2020+', 'Median_Year_Structure_Built'] = 2021
dfWalk['Median_Year_Structure_Built'] = dfWalk['Median_Year_Structure_Built'].astype('int')
dfWalk.shape

(108104, 80)

In [421]:
mod = smf.ols(formula = 'log_Median_Contract_Rent ~ Walk_Index', data = dfWalk )
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
====================================================================================
Dep. Variable:     log_Median_Contract_Rent   R-squared:                       0.171
Model:                                  OLS   Adj. R-squared:                  0.171
Method:                       Least Squares   F-statistic:                 2.236e+04
Date:                      Fri, 28 Mar 2025   Prob (F-statistic):               0.00
Time:                              21:58:39   Log-Likelihood:                -71614.
No. Observations:                    108104   AIC:                         1.432e+05
Df Residuals:                        108102   BIC:                         1.433e+05
Df Model:                                 1
Covariance Type:                  nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      6.2982      0.004   1736.143      0.000       6.291       6.305
Walk_Index     0.0499      0.000    149.547      0.000       0.049       0.051
==============================================================================
Omnibus:                      266.846   Durbin-Watson:                   1.121
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              322.511
Skew:                           0.052   Prob(JB):                     9.28e-71
Kurtosis:                       3.247   Cond. No.                         27.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""